.pb-button-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.pb-form-divider {
    margin-top: 16px;
    margin-bottom: 16px;
}

.pb-form-title {
    text-align: center;
    user-select: none;
    margin-bottom: 16px;
}